{
    "env": {
        "presets": ["babel-preset-env", "react"]
            // "plugins": ["transform-runtime", "transform-object-assign", "rewire", "lodash", "inline-replace-variables", "transform-object-rest-spread"]
    }
}